<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div class="container card p-4" style="max-width: 800px;">
  <%= form_for(@user) do |f| %>
  <%= f.label :username, class: 'form-label' %><br/>
  <%= f.text_field :username, class: 'form-control' %><br/>

  <%= f.label :email, class: 'form-label'  %><br/>
  <%= f.email_field :email, class: 'form-control' %><br/>

  <%= f.label :password, class: 'form-label'  %><br/>
  <%= f.password_field :password, class: 'form-control' %><br/>

  <%= f.submit(@user.new_record? ? 'Sign up' : 'Update account', class: 'btn btn-primary') %>

  <%= link_to 'Cancel', root_path, class: 'btn btn-dark' %>
  <% end %>
</div>